<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
  <h2>New Flight</h2>
  <label>Airline</label>
    <select name="airline">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
  <label>Airport</label>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN" selected="selected">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  <label>flightNo</label>
    <input type="number" name="flightNo">
  <label>Date</label>
    <input type="date" name="Date">
  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>